/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 499%;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gold;
}

.boy-form {
    margin: 4em 1em 2em 1em;
    background-color: #2196F3;
    border: 9px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px;
    width: 20em;
	height: 20em;
	overflow: scroll;
}

.boy-form input{
	width: 16em;
	height: 4em;
	border: 9px;
	border-radius: 20em;
    margin: 1.5em 4em 1.5em 4em;
}

.gal-form {
	margin: 4em 1em 2em 1em;
	background-color: #ff0bb4;
	border: 9px;
	border-radius: 10px;
	box-shadow: 4px 4px 4px 4px;
	width: 20em;
	height: 20em;
	overflow: scroll;
}
.gal-form input{
	width: 16em;
	height: 4em;
	border: 9px;
	border-radius: 20em;
    margin: 1.5em 4em 1.5em 4em;
}


.check-btn {
	
	width: 15em;
	height: 50px;
	background-color: gold;
	color: white;
	margin: 4em 6em 4em 6em;
	border: 9px;
	border-radius: 100px;
	font-weight: 900;
}

.weight_radio_group {
	display: inline-flex;
    margin: 0 0 0 2em;
}
.weight_radio{
	margin: 0 1em 0 0 !important;
    width: 2em !important;
}

.leb{
	font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin: 17px 22px 0 -9px;
}

.rights{
	font-size: 18px;
    width: 100%;
    align-items: center;
    font-family: cursive;
	margin: 4em 0 0 0;
}

.rights p{
	text-align: center;
	margin: 5px;
}

#paste{
	width: 100%;
	background-color: gold;
    align-items: center;
	font-size: 25px;
    font-family: cursive;
	margin: 2em 0 0 0;
}
